<form method="post" action="{% url 'appointment-update' form.instance.pk %}" id="createForm">
    {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title" id="backDropModalTitle">Update</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row">
        {% include 'appointment/form.html' %}
      </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
        Close
      </button>
      <button type="submit" class="btn btn-primary" >Update</button>
    </div>
</form>