<form method="post" action="{% url 'patient-delete' sObj.id %}" id="createForm">
    {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title" id="backDropModalTitle">Confirm Deletion?</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <p class="lead">Are you sure you want to delete the <strong>{{ sObj.first_name|upper }} {{ sObj.middle_name|first }}. {{ sObj.last_name|upper }}</strong>?</p>
      </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
        Close
      </button>
      <button type="submit" class="btn btn-danger" >Delete</button>
    </div>
</form>